<!-- Footer Starts Here -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-item">
          <h4 class="headin5_amrc col_white_amrc pt2">Comapny Name</h4>
          
            <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
             <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
              <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
            <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
           



         
          <!--headin5_amrc-->
        
        </div>
        <div class="col-md-3 footer-item">
          <h4>Menu</h4>
          <ul class="menu-list">
            <li><a href=".">Acceuil</a></li>
            <li><a routerLink="/about">À propos</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/estimation/particulerestimation">Estimation d'un particuler</a></li>
            <li><a routerLink="/estimation/entrepriseestimation">Estimation d'une entreprise</a></li>
            <li><a routerLink="/contact">Contactez-Nous</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-item">
          <h4>Services</h4>
          <ul class="menu-list">
            <li><a routerLink="/services">Déménagement</a></li>
            <li><a routerLink="/services">Transport express</a></li>
            <li><a routerLink="/services">Transport spéciaux</a></li>
            <li><a routerLink="/services">Transport messagerie</a></li>
            
          </ul>
        </div>
        <div class="col-md-3 footer-item">
          <h4>SUIVEZ-NOUS</h4>
          <ul class="social-icons">
            
            <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
          
          
          </div>
          </div>
          </div>
  </footer>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Copyright &copy; 2022 Company Name Co., Ltd.
          
          - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </div>