<!-- Page Content -->
<!-- Banner Starts Here -->
  <div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
      <!-- Item -->
      <div class="item item-1">
        <div class="img-fill">
         
   
          <div class="text-content more-info-content ">
     
              <h4 >Votre Prix,<br>Notre Estimation</h4>
           
                <a routerLink="/estimation/particulerestimation" class="filled-button">Je suis particuler</a>
                <a routerLink="/estimation/entrepriseestimation" class="filled-button">Je suis entreprise</a>
             
        
      </div>
      </div>
    </div>
    <!-- Item-2 -->
    <div class="Modern-Slider">
      <!-- Item -->
      <div class="item item-2">
        <div class="img-fill">
         
   
          <div class="text-content more-info-content ">
     
            <h4>Transport rapide <br>&amp;efficace</h4>
           
                <a routerLink="/about" class="filled-button">SAVOIR PLUS</a>
                <a routerLink="/contact" class="filled-button">Contactez-Nous</a>
             
        
      </div>
      </div>
    </div>
    <!-- // Item-2 -->
  </div>
 </div>    
 </div> 
  <!-- // Advantges -->

<div class="request-form-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 [style.color]="col"> <i class="fa fa-truck"></i>&ensp;&ensp;&ensp;LIVRAISON EN TOUTE SÉCURITÉ</h4>
        <span>Nous réalisons des livraisons en douceur avec notre personnel expérimenté et la technologie.</span>
      </div>
      <div class="col-md-4">
        <h4 [style.color]="col"><i class="fa fa-bullseye" aria-hidden="true"></i>

          &ensp;&ensp;&ensp;SERVICE DE QUALITÉ</h4>
        <span>Nous travaillons en nous concentrant sur le meilleur afin de vous offrir le meilleur de tous nos services.</span>
      </div>
      <div class="col-md-4">
        <h4 [style.color]="col"> <i class="fa fa-phone"></i>&ensp;&ensp;&ensp;24/7 Soutien en tout temps</h4>
        <span>Nous fournissons un soutien 24/7 à tout moment, n’importe où.</span>
      </div>
    </div>
  </div>

</div>

  
<div class="more-info">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="left-image">
              <img src="assets/images/more-info.jpg" alt="">
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="right-content more-info-content">
              <h3><em>Que sommes-nous?</em></h3>
                <p>Curabitur pulvinar sem a leo tempus facilisis. Sed non sagittis neque. Nulla conse quat tellus nibh, id molestie felis sagittis ut. Nam ullamcorper tempus ipsum in cursus<br>Praes end at dictum metus. Morbi id hendrerit lectus, nec dapibus ex. Etiam ipsum quam, luctus eu egestas eget, tincidunt</p>
                <div >
                <a routerLink="/about"class="filled-button-3">Savoir plus</a>
              
              </div>
              </div>
            </div>
            
        </div>
      </div>
    

<!-- Services -->

<div class="back">

  <div class="row">
  
  <div class="col-lg-12">
  <div class="text-center">
  
  <span class="title-line-2"><h2>{{services|uppercase}}</h2></span>
  <p style="color:#fff;font-size:18px;">Nous proposons une grande variété de services professionnels pour répondre à vos besoins.<br/> Nous promettons de vous servir avec le sourire, afin de vous satisfaire pleinement.</p>
  </div>
  </div>
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="service-item">
         
          <div class="down-content shadow p-3 mb-5 bg-white rounded">
            <img src="assets/images/d.png" style="height: auto; " alt="">
            <h4>Déménagement </h4>
            <p>SALUKI met à votre disposition des véhicules et manutentionnaires à disposition pour assurer votre déménagement.</p>
            <a routerLink="/services" class="filled-button-4">Savoir Plus</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-item">
         
          <div class="down-content shadow-lg p-3 mb-5 bg-white rounded">
            <img src="assets/images/express.jpg" style="height: auto; " alt="">
            <h4>Transport express</h4>
            <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
            <a routerLink="/services" class="filled-button-4">Savoir Plus</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-item">
          
          <div class="down-content shadow p-3 mb-5 bg-white rounded">
            <img src="assets/images/spec.jpg" style="height: auto;  " alt="">
            <h4>Transport spéciaux</h4>
            <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
            <a routerLink="/services" class="filled-button-4">Savoir Plus</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="service-item">
         
          <div class="down-content shadow p-3 mb-5 bg-white rounded">
            <img src="assets/images/mess.jpg" style="height: auto; " alt="">
            <h4>Transport messagerie</h4>
            <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
            <a routerLink="/services" class="filled-button-4">Savoir Plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="fun-facts">
  <div class="container">
    <div class="row">
      
          
        <span>  <h2> <em>Comment ca marche ?</em> </h2> </span>
         
 
      <div class="col-md-12 align-self-center">
        <div class="row">
       
          <div class="col-md-12">
            <div class="count-area-content">
              <h4 [style.color]="col"><strong style="font-size: 30px;"> 01-  </strong>&ensp;&ensp;&ensp; DEMANDEZ </h4>
        <span>Effectuez votre demande de transport en 1 minute, gratuitement en estimant votre coût de transport.</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="count-area-content">
              <h4 [style.color]="col"><strong style="font-size: 30px;"> 02-  </strong>&ensp;&ensp;&ensp;CONTACTEZ-VOUS</h4>
              <span>Analysant votre demande de transport et contactez-vous par télephone.</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="count-area-content">
              <h4 [style.color]="col"><strong style="font-size: 30px;"> 03-  </strong>&ensp;&ensp;&ensp;VALIDEZ</h4>
              <span>Réservez la prestation en ligne et faites transporter vos objets en sécurité. Service client 7/7.</span>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>



<div class="request-form">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Demander un rappel immédiat? ?</h3>
       
      </div>
      <div class="col-md-4">
        <a routerLink="/contact" class="border-button">Contactez-Nous</a>
      </div>
    </div>
  </div>
</div>
